.bg-image {
  background-image: url("./images/drummer.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 95vh;
}

h1 {
  color: #deacac;
  text-align: center;
  text-shadow: 2px 2px #020202;
}

#content {
  font-size: 1.5rem;
  font-weight: bold;
  color: rgb(204, 199, 199);
  margin: 0 auto;
  padding-left: 35%;
  display: grid;
  grid-template-columns: repeat(3, 75px);
  grid-template-rows: repeat(3, 75px);
  grid-gap: 5px;
}

#drum-machine {
  width: 800px;
  margin: 0 auto;
  h1 {
    text-align: center;
  }
  #container {
    display: flex;
  }
}

.drum-kit {
  transition: all 0.07s;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(75, 64, 77);
  border: 2px solid rgb(142, 130, 252);
  border-radius: 30px;
}

.playing {
  transform: scale(1.07);
  border-color: #ffc600;
  box-shadow: 0 0 10px #ffc600;
}
